.container__small_card{
    width: 700px;
}
.container__small_card_content{
    display: flex;
    flex-direction: row;
}

.small_card_photo > a > img{
    width: 150px;
    min-width: 200px;
    margin-right: 20px;
}

.small_card_description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_card_separator{
    margin-top: 10px;
    margin-bottom: 10px;
}

container__small_card {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}
@media only screen and (max-width: 480px) {
    .container__small_card {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .small_card_description{
        max-height: 8em;
        text-overflow: ellipsis;
        overflow: hidden;
        align-items: baseline;
    }
}
@media only screen and (min-width: 915px) {
    .small_card_description{
        display: flex;
        justify-content: center;
        max-height: 8em;
        max-width: 12.5em;
        text-overflow: ellipsis;
        overflow: hidden;
        align-items: baseline;
    }
    .small_card_description > p > a {
        width: 50%;
    }
}