<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Yewc-rU-EtU0qYYv0ft9q6lAD19VUR9SSg&usqp=CAU"
            cardTitle="Titulo da materia!"
            cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore saepe in dolorum, sunt, praesentium vitae suscipit autem beatae rem quis explicabo accusantium culpa qui ipsam earum corporis, expedita voluptatum laborum!"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1L-WfVGzZlXAtOrMJMqq1Ak0yHQP_3aDdTjbxXwSc8l_wmIiMaW4Rb9u7uUEZU889V_w&usqp=CAU"
            descreption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi esse perspiciatis ad quod dignissimos, nostrum, unde quos, dolores reprehenderit incidunt ab eveniet harum architecto repellendus accusamus porro. Nam, delectus.
            "></app-small-card>
        <app-small-card
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW57krfnWclV5CxlfT48yf9MyBXF-T8CG-hA&usqp=CAU"
            descreption="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet officia fugit vitae est quasi doloribus velit voluptate nulla."></app-small-card>
        <app-small-card
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9UfvbqXS1F645PEcUzRVVaqrEA6x44zrHig&usqp=CAU"
            descreption="Accusantium rerum pariatur soluta quaerat nemo est consequatur earum quasi delectus sunt? Voluptates porro consectetur non reprehenderit mollitia. Officia fuga tenetur suscipit."></app-small-card>
    </div>
</div>
